.list-hours {
  .list-hours-item {
    font-style: normal;
  }
}

.list-unstyled-item {
  font-style: normal;
  font-family: 'Lora';
}

#welcome_first {
  font-size: 2.5rem;
  font-family: Raleway;
}

#welcome_second {
  margin-top: 12px;
  font-family: Raleway;
  font-size: 1.4rem;
  font-weight: bold;
}

strong, #year {
  margin-right: 1em;
  font-family: Monaco;
}

.qualification {
  padding-left: 46px;
  text-indent: -46px;
}

#huang-name {
  font-size: 1.5rem;
}

#img-front-praxis {
  width: 60%;
}

#img-front-huang {
  width: 50%;
}

#price {
  margin-top: 48px;
}


/* unvisited link */
a:link {
  color: #e6a756;
}

/* visited link */
a:visited {
  color: #e6a756;
}

/* mouse over link */
a:hover {
  color: #e6a756;
}

/* selected link */
a:active {
  color: #e6a756;
}
